body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 32px;
}

.postcard-header {
	display: flex;
	font-family: "Gloria Hallelujah", cursive;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
	font-family: "Open Sans", sans-serif;
}

p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 8px;
}

input {
	border: none;
	border-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

p {
	font-size: medium;
}

.postcard-footer {
	text-align: center;
}

button {
	border-radius: 4px;
	padding: 10px;
	background-color: black;
	text-decoration: none;
	color: white;
}
